.task {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task p {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(217, 169, 169);
}

button a{
    text-decoration: none;
}