<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
   
    <!-- <style></style>  -->
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/task.css' %}" rel="stylesheet">



</head>
<body>
    {% include "nav.html" %}
    {% block content %}


    {% endblock %}

</body>
</html>